h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
}

.js-title_color {
    color: #FF7700;
}

.js-artist_color {
    color: #FF7700;
}

b {
    color: #FF7700;
}

.cifra_tom {
    color: #FF7700;
}

.logo {
    display: none;
}