<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate File</title>
    <link rel="stylesheet" href="../static/css/styles.css" type="text/css">
</head>
<body>
    <div id="topbar"></div>
    <div id="container">
        <h2>Generate File</h2>
        <input type="text" id="urlInput" placeholder="https://www.cifraclub.com/musico/551928421/repertorio/favoritas/">
        <br>
        <button id="generateBtn">Generate</button>
        <br>
        <a href="#" download id="download-btn" class="button"><button>Download File</button></a>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>
